@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.sidebar .sidebar-nav {
   
    background-color: #619BFF;
}
.nav-link{
    font-size: 15px;
    font-weight: 600;
}
.sidebar .nav-dropdown.open .nav-link {
    background-color: #fff;
    color:#000;
}
.sidebar .nav-link.active {
    background: #619bff;
}
.sidebar .sidebar-minimizer{
    background-color: rgb(97, 155, 255);
}